<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-searchbar animated placeholder="Search Kanji by Romaji or English" (ionFocus)="navToSearchKanji()"></ion-searchbar>

    <ion-card class="welcome-card">
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Learn Kanji</ion-label>
      </ion-list-header>
      <ion-item [routerLink]="'/kanji-lesson/5'" routerDirection="forward">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Kanji Level 5</ion-label>
        <ion-note slot="end" color="secondary">150</ion-note>
      </ion-item>
      <ion-item [routerLink]="'/kanji-lesson/4'" routerDirection="forward">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Kanji Level 4</ion-label>
        <ion-note slot="end" color="secondary">200</ion-note>
      </ion-item>
      <ion-item [routerLink]="'/kanji-lesson/3'" routerDirection="forward">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Kanji Level 3</ion-label>
        <ion-note slot="end" color="secondary">300</ion-note>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
    </ion-list>

</ion-content>


<!-- <ion-item href="https://ionicframework.com/docs/">
  <ion-icon slot="start" color="medium" name="book"></ion-icon>
  <ion-label></ion-label>
</ion-item> -->